<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content mode="ios">
  <ion-card>
    <div class="ion-text-center">
      <img class="perfilimg" src="./assets/icon/perfil.png" />
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center perfiltxt">
            <ion-label>carlin_isaac@hotmail.com</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button
          class="btnprincipal"
          [routerLink]="['/login']"
          expand="block"
          >Cerrar sesión</ion-button
        >
  </ion-card>
</ion-content>
