<!-- <ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Veamos la letra</ion-title>
    <ion-icon
      [routerLink]="['/tabs/principal']"
      color="primary"
      slot="start"
      name="play-skip-back"
      class="backbutton"
    ></ion-icon>
  </ion-toolbar>
</ion-header> -->
<app-header></app-header>
<ion-content class="ion-padding">
  <!-- <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>{{cancion.can_nombre}}</h2>
      <h3>{{cancion.can_artista}}</h3>
      <p>{{cancion.can_comentario}}</p>
    </ion-label> -->
  <ion-card>
    <ion-card-content>
      <ion-card-title>{{this.can_nombre}}</ion-card-title>
      <ion-card-subtitle>{{this.can_artista}}</ion-card-subtitle>
      <div [innerText]="this.can_lyrics"></div>
    </ion-card-content>
    <ion-button class="btnprincipal" 
    [routerLink]="['/pedidos']"
    expand="block">Quiero cantar!</ion-button>
  </ion-card>
</ion-content>

