<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col class="icol" size="10">
      <img class="perfilimg" src="./assets/icon/perfil.png" />
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <div class="ion-text-center"></div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center perfiltxt">
          <ion-label>carlin_isaac@hotmail.com</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-row>
  <ion-col size="12">
    <ion-button class="btnprincipal" [routerLink]="['/login']" (click)="logout()" expand="block">CERRAR SESIÓN</ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <ion-button class="btnprincipal" [routerLink]="['/tabs/principal']" expand="block">VOLVER</ion-button>

  </ion-col>
</ion-row>
</ion-content>
