<!-- <ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Veamos la letra</ion-title>
    <ion-icon
      [routerLink]="['/tabs/principal']"
      color="primary"
      slot="start"
      name="play-skip-back"
      class="backbutton"
    ></ion-icon>
  </ion-toolbar>
</ion-header> -->
<app-header></app-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-card-title>Amorfoda</ion-card-title>
      <ion-card-subtitle>Bad Bunny</ion-card-subtitle>
      <div>
        No quiero que m&aacute;s nadie me hable de amor<br />Ya me cans&eacute;,
        to&apos; esos trucos ya me los s&eacute;<br />Esos dolores los
        pas&eacute;, yeh, yeh, yeh<br />No quiero que m&aacute;s nadie me hable
        de amor<br />Ya me cans&eacute;, to&apos; esos trucos ya me los
        s&eacute;<br />Esos dolores los pas&eacute;
      </div>
      <div>
        Hoy te odio en el secreto, ante todo lo confieso<br />Si pudiera te
        pidiera que devuelva&apos; to&apos; los besos que te di<br />La&apos;
        palabra&apos; y todo el tiempo que perd&iacute;<br />Me arrepiento una y
        mil veces de haber confiao&apos; en ti (huh)<br />Quisiera que te
        sientas como yo me siento (siento)<br />Quisiera ser como t&uacute;, sin
        sentimiento<br />Quisiera sacarte de mi pensamiento<br />Quisiera
        cambiarle el final al cuento<br />Las barras y los tragos han sido
        testigo&apos;<br />Del dolor que me causaste y to&apos; lo que hiciste
        conmigo<br />Un infeliz en el amor que a&uacute;n no te supera<br />Y
        que ahora camina solo sin nadie por to&apos;as las acera&apos;<br />Pregunt&aacute;ndole
        a Dios si en verdad el amor existe<br />Y por qu&eacute; si yo era tan
        bueno to&apos;a esta mierda t&uacute; me hiciste<br />Lo m&aacute;s
        cabr&oacute;n es que t&uacute; ves todo como un chiste<br />Siempre voy
        a maldecir el d&iacute;a en que naciste<br />Los chocolates que te di y
        todas las flores<br />Se convierten hoy en d&iacute;a en pesadilla&apos;
        y dolore&apos;<br />Ya yo perd&iacute; la fe de que t&uacute;
        mejore&apos;<br />Si despu&eacute;s de la lluvia sale el
        arco&iacute;ri&apos; pero sin colore&apos;, yeh
      </div>
      <div>
        No quiero que m&aacute;s nadie me hable de amor<br />Ya me cans&eacute;,
        to&apos; esos trucos ya me los s&eacute;<br />Esos dolores los
        pas&eacute;, yeh, yeh, yeh<br />No quiero que m&aacute;s nadie me hable
        de amor<br />Ya me cans&eacute;, to&apos; esos trucos ya me los
        s&eacute;<br />Esos dolores los pas&eacute;, yeh, yeh, yeh
      </div>
    </ion-card-content>
    <ion-button
                class="btnprincipal"
                [routerLink]="['/tabs/principal']"
                expand="block"
                >Quiero cantar!</ion-button
              >
  </ion-card>
</ion-content>
