<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
   <ion-list>
    <ion-card class="cardmusicas" [routerLink]="['/seleccion']">
      <ion-item lines="none">
        <ion-icon name="trash" slot="end"></ion-icon>
        <ion-avatar slot="start">
          <img src="./../../assets/icon/badbunnyAmorfoda.png" />
        </ion-avatar>
        <ion-label>
          <h2>Amorfoda</h2>
          <h3>Bad Bunny</h3>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card class="cardmusicas">
      <ion-item lines="none">
        <ion-icon name="trash" slot="end"></ion-icon>
        <ion-avatar slot="start">
          <img src="./../../assets/icon/badbunnyCaro.PNG" />
        </ion-avatar>
        <ion-label>
          <h2>Caro</h2>
          <h3>Bad Bunny</h3>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card class="cardmusicas">
      <ion-item lines="none">
        <ion-icon name="trash" slot="end"></ion-icon>
        <ion-avatar slot="start">
          <img src="./../../assets/icon/badbunnyDiles.png" />
        </ion-avatar>
        <ion-label>
          <h2>Diles</h2>
          <h3>Bad Bunny</h3>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
  <ion-button
    class="btnprincipal"
    expand="block"
    [routerLink]="['/tabs/principal']"
    >Volver</ion-button>
</ion-content>
