<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="reproduciendo">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label>Reproduciendo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="principal">
      <ion-icon name="play"></ion-icon>
      <ion-label>Canciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nosotros">
      <ion-icon name="square"></ion-icon>
      <ion-label>Nosotros</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
