<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <video id="myVideo" controls playsinline width="100%">
      <source src="https://www.youtube.com/watch?v=ME-ydH5ToFE" />
    </video> -->
  <div class="container">
    <iframe
      src="https://www.youtube.com/embed/ME-ydH5ToFE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="video"
    ></iframe>
  </div>
</ion-content>
