<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content mode="ios">
  <ion-searchbar
    animated="true"
    placeholder="Buscar"
    search-icon="none"
    style="margin-top: 20px"
  ></ion-searchbar>
    <ion-list>
      <ion-card class="cardmusicas">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="./../../assets/icon/alanwalkerFaded.png" />
          </ion-avatar>
          <ion-label>
            <h2>Faded</h2>
            <h3>Alan Walker</h3>
          </ion-label>
        </ion-item>
      </ion-card>

      <ion-card class="cardmusicas">
        <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="./../../assets/icon/badbunnyAmorfoda.png" />
        </ion-avatar>
        <ion-label>
          <h2>Amorfoda</h2>
          <h3>Bad Bunny</h3>
        </ion-label>
      </ion-item>
    </ion-card>

       <ion-card class="cardmusicas">
        <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="./../../assets/icon/badbunnyCaro.PNG" />
        </ion-avatar>
        <ion-label>
          <h2>Caro</h2>
          <h3>Bad Bunny</h3>
        </ion-label>
      </ion-item>
    </ion-card>

      <ion-card class="cardmusicas">
        <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="./../../assets/icon/badbunnyDiles.png" />
        </ion-avatar>
        <ion-label>
          <h2>Diles</h2>
          <h3>Bad Bunny</h3>
        </ion-label>
      </ion-item>
      </ion-card>
      
      <ion-card class="cardmusicas">
        <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="./../../assets/icon/badbunnyLaCancion.png" />
        </ion-avatar>
        <ion-label>
          <h2>La Canción</h2>
          <h3>Bad Bunny</h3>
        </ion-label>
      </ion-item>
      </ion-card>

      <ion-card class="cardmusicas">
        <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="./../../assets/icon/camiloIndigo.png" />
        </ion-avatar>
        <ion-label>
          <h2>Indigo</h2>
          <h3>Camilo</h3>
        </ion-label>
      </ion-item>
      </ion-card>

     <ion-card class="cardmusicas">
        <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="./../../assets/icon/sechOtroTrago.png" />
        </ion-avatar>
        <ion-label>
          <h2>Oro trago</h2>
          <h3>Sech</h3>
        </ion-label>
      </ion-item>
     </ion-card>

     <ion-card class="cardmusicas">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="./../../assets/icon/selenaAmorProhibido.png" />
        </ion-avatar>
        <ion-label>
          <h2>Amor Prohibido</h2>
          <h3>Selena</h3>
        </ion-label>
      </ion-item>
     </ion-card>

      <ion-card class="cardmusicas">
        <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="./../../assets/icon/selenaComoLaFlor.png" />
        </ion-avatar>
        <ion-label>
          <h2>Como la flor</h2>
          <h3>Selena</h3>
        </ion-label>
      </ion-item>
      </ion-card>
    </ion-list>
</ion-content>
